body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color:bisque;
    background-image: url(https://wallpaperset.com/w/full/b/0/d/93561.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Estilos para o cabeçalho (header) */
header {
   
    background: rgba(0, 0, 0, 0.3); /* Cor de fundo com transparência */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Estilos para o rodapé (footer) */
footer {
    display: flex;
    background: rgba(0, 0, 0, 0.3); /* Cor de fundo com transparência */
    padding: 20px;
    
}

/* Estilos para o conteúdo principal */
.content {
    margin-top: 100px; /* Espaçamento para não ficar sobreposto pelo cabeçalho */
    margin-bottom: 100px; /* Espaçamento para não ficar sobreposto pelo rodapé */
    padding: 20px;
    text-align: center;
}

/* Estilos para a área de comentário */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#form {
    width: 300px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.inputBox {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    resize: none;
}

button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#comentarios {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    background-color: rgb(21, 36, 31);
    border-radius: 10px;
}