body
{
    background: url(https://wallpaperset.com/w/full/b/0/d/93561.jpg) no-repeat;
    height: 90vh;
    position: relative;
}

#open-btn
{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 80px;
    background-color: transparent;
    border: solid 1px beige;
    border-color: beige ;
    color:beige;
    border-radius: 3px;
    cursor:pointer;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    transition: .5s;
}
#open-btn:hover
{
    background-color: beige;
    color:#444;
}

#modal
{
    background-color: aliceblue;
    top:50%;
    left:50%;
    position:absolute;
    font-size: 1.5rem; 
    transform: translate(-50%,-50%);  
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 10px;
    border-radius: 5px;

    /*animacao*/
    animation-name: animatemodal;
    animation-duration: .4s;
}

#container
{
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,.2);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
#close-btn
{
    font-size: 3rem;
    margin-left: 5px;
    color:crimson;
    cursor: pointer;
}


#close-btn:hover
{
    color:tomato;
}

@keyframes animatemodal {

    from{
        left:-300px;
        opacity: 0.5;
    }
    to{
        top:50%;
        opacity: 1;
    }
}